*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

ul li,
ol li {
    list-style: none;
}

a:any-link {
    color: #202053;
    text-decoration: none;
    cursor: pointer;
}

img{
    max-width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}